<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613614613520-slh84aaq0j4vmd85ri4tvikdu6lso36f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613614613520-slh84aaq0j4vmd85ri4tvikdu6lso36f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>613614613520-eqh3nsd31r2dubhtdnufp49o5jdiifkm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYytTZztCue3KKTsZJcxxMMBTpkXZW3yM</string>
	<key>GCM_SENDER_ID</key>
	<string>613614613520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sabel.hotel</string>
	<key>PROJECT_ID</key>
	<string>tantan-173711</string>
	<key>STORAGE_BUCKET</key>
	<string>tantan-173711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613614613520:ios:44fc51644e2ad68e308695</string>
	<key>DATABASE_URL</key>
	<string>https://tantan-173711.firebaseio.com</string>
</dict>
</plist>